<!doctype html>
<html lang="ar" dir="rtl">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>تقرير طلبات</title>
</head>

<body class="px-20">
	<header>
		<table>
			<tr>
				<td style="width: 33%;">التاريخ: <span>{{date ordersData.date}}</span></td>
				<td style="width: 33%;">عدد الطلبيات: <span>{{ordersData.count}}</span></td>
				{{!-- <td class="title">منفيست مندوب</td> --}}
				<td style="width: 33%;" rowspan="3"><img src="{{ordersData.company.logo}}" /></td>
			</tr>
			<tr>
				<td style="width: 33%;"></td>
				<td style="width: 33%;">عدد طلبيات بغداد: <span>{{ordersData.baghdadCount}}</span></td>
				<td style="width: 33%;"></td>
			</tr>
			<tr>
				<td style="width: 33%;"></td>
				<td style="width: 33%;">عدد طلبيات المحافظات: <span>{{ordersData.governoratesCount}}</span></td>
				<td style="width: 33%;"></td>
			</tr>
		</table>
	</header>
	<main>
		<table>
			<thead>
				<tr>
					<th>#</th>
					<th>رقم الوصل</th>
					<th>أنشئ في</th>
					<th>اسم الصفحة</th>
					<th>هاتف المستلم</th>
					<th>عنوان المستلم</th>
					<th>مبلغ الوصل</th>
					<th>الملاحظات</th>
				</tr>
			</thead>
			<tbody>
				{{#each orders}}
				<tr>
					<td class="nowrap">{{inc @index}}</td>
					<td>{{receiptNumber}}</td>
					<td>{{date createdAt}}</td>
					{{#if store}}
					<td>{{store.name}}</td>
					{{else}}
					<td></td>
					{{/if}}
					<td>{{mapPhones recipientPhones}}</td>
					<td>{{localizeGovernorate governorate}} - {{location.name}} - {{recipientAddress}}</td>
					<td>{{currency totalCost}}</td>
					<td>{{notes}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</main>
	<footer>التوقيع: <span class="light">______________________________________________</span></footer>
	<section class="watermark">{{ordersData.company.name}}</section>
</body>

</html>
